.imagePost-image{
    width: 100%;
    border: 1px solid #2b7a78;
    border-radius: 70px;
    background-color: #def2f1;
    margin: 50px 0 50px 0;
}

.imagePost-image img{
    width: 100%;
    padding: 40px;
    border-radius: 70px;
}
.imagePost-comments{
    display: flex;
    justify-content: space-around;
    text-align: right;
    margin-right: 50px;
    margin-top: -20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-transform: capitalize;
}