 .userPage-holder{
     position: relative;
     width: 80%;
     margin: auto;
     margin-top: 20px;
 }

 .fas {
     position: absolute;
     top: 15px;
     color: lightgrey;
 }

 .users-Page-input {
     padding-left: 20px !important;
 }