.commentsList-noComment {
    width: 80%;
    margin: auto;
}

.commentsList-noComment-p {
    width: 60%;
    margin: auto;
    padding-bottom: 30px;
    font-size: 22px;
}

.comments-list-single-comment{
    width: 80%;
    margin: 0 auto;
}